<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%-include('allhead.ejs');%>
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />

    <link href="css/about.css" rel="stylesheet" />
  </head>
  <body>
    <%-include( 'header.ejs');%>
    <div>
      <table style="margin: 50px auto;">
        <tr style="height: 50%;">
          <td>
            <img
              src="asset/raman.jpg"
              width="200px"
              height="200px"
              style="border-radius: 50%;"
            />
          </td>
          <td style="text-align: justify; padding: 15px;">
            <h2 style="font-family: 'Playfair Display', serif;">
              RAMAN SHARMA
            </h2>
            <br />
            <span style="font-family: 'Merriweather', serif;">
              Hello folks &#x1F44B; This is me <b>Raman Sharma</b>, currently
              I'm pursuing my <b>Master's Degree</b>  from <b>Kurukshetra
                University,Kurukshetra</b>. I did my  bachelor's degree in Information Technology
              </span></b>. I have a keen Interest in Computer Science so to pursue my interest and to create something which benefits all of us we created this website.I have an adequate knowledge of Programming Languages like<b> C , C++ , Javascript , Node.js and JAVA</b> . i'd like to code mostly in C++. Apart from these i've been consistently active in <b>competative programming</b> and other cool stuff. i also like to play video games , Netflix and chill if you have any good web series suggestion just drop a messgae.<b> To know more about me or my work you can follow me on one of the links given below</b>.
            <h4 style="font-family: 'Playfair Display', serif;">
              keep in touch
            </h4>
            <div class="social-icons">
              <a
                href="https://github.com/heyraman"
                style="text-decoration: none;"
              >
                <img src="asset/g.png" title="Raman's Github Profile" />
              </a>
              <a
                href="https://www.linkedin.com/in/raman-sharma-8a288519b/"
                style="text-decoration: none;"
              >
                <img src="asset/link.png" title="Let's Connect on Linkedin" />
              </a>
              <!-- <a href="https://wa.me/8053966497" style="text-decoration: none;">
                <img src="asset/wapp.png" title="Connect on Whatsapp" />
              </a>
              <a
                href="mailto:kukreti.rs@gmail.com"
                style="text-decoration: none;"
              >
                <img src="asset/gml.png" title="Email me on Gmail" />
              </a>
              <a
                href="https://stackoverflow.com/users/11822780/raman-sharma?tab=profile"
                style="text-decoration: none;"
              >
                <img src="asset/so.png" title="Raman's Stackoverflow" />
              </a> -->
              <!-- <a href="https://github.com/heyraman" target="_blank">
                <img src="asset/g.png" title="Raman's Github Profile" />
              </a>
              <a href="https://web.whatsapp.com/" target="_blank">
                <img src="asset/wapp.png" title="Connect on Whatsapp" />
              </a>
              <a href=" " target="_blank">
                <img src="asset/link.png" title="Let's Connect on Linkedin" />
              </a>
              <a href=" " target="_blank">
                <img src="asset/gml.png" title="Email me on Gmail" />
              </a>
              <a href=" " target="_blank">
                <img src="asset/so.png" title="Raman's Stackoverflow" />
              </a> -->

              <a href="https://dev.to/heyraman" target="_blank">
                <img
                  src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg"
                  alt="Raman⚡Sharma's DEV Profile"
                  height="30"
                  width="30"
                  title="Follow me on Dev community"
                />
              </a>
            </div>
            <br /><br />
            <!-- <img src="asset/twit.png" /> -->
            <!-- <img src="asset/insta.png" /> -->
            <!-- <img src="asset/insta.png" /> -->
          </td>
        </tr>
        <!-- <br /> -->

        <tr style="height: 50%;">
          <td>
            <img
              src="asset/x1.jpg"
              width="200px"
              height="200px"
              style="border-radius: 50%; object-fit: contain;"
            />
          </td>
          <td style="text-align: justify; padding: 15px;">
            <h2 style="font-family: 'Playfair Display', serif;">
              SHUBHAM VERMA
            </h2>
            <br />
            <span style="font-family: 'Merriweather', serif;">
              Hi.. &#x1F44B; I am Shubham Verma, and I have a bachelor's degree
              in Computer Application from Maharaja Ganga Singh University.
              People find me to be an upbeat, self-motivated team player with
              good communication skills. For the past several years I have
              worked on Java Projects. My short term goal is to place a good
              company.
              <h4 style="font-family: 'Playfair Display', serif;">
                keep in touch
              </h4>
              <div class="social-icons">
                <!-- <img src="asset/wapp.png" title="Connect on Whatsapp" /> -->
                <img src="asset/g.png" title="Shubham's Github Profile" />
                <img src="asset/link.png" title="Let's Connect on Linkedin" />
                <img src="asset/gml.png" title="Email me on Gmail" /><br>
                <br>
                <!-- <img src="asset/so.png" title="SHubham's Stackoverflow" /> -->
              </div>
            </span>
            <!-- <h3 style="font-family: 'Playfair Display', serif;">
              About KukNotes
            </h3>
            We had lot of studies during all these years, but mostly theoretical
            leanings. Our first & foremost expectation from our first website
            would be to learn how all these are applied in a practical and
            industrial way. We also want to be a part of the corporate culture
            and learn how this is run.” -->
          </td>
        </tr>
        <tr style="height: 50%;">
          <td>
            <!-- <img
              src="asset/x1.jpg"
              width="200px"
              height="200px"
              style="border-radius: 50%; object-fit: contain;"
            />
          </td> -->
          </td>

          <td style="text-align: justify; padding: 15px;">
            <h2 style="font-family: 'Playfair Display', serif;">
              About KukNotes
            </h2>
            <br />
            <span style="font-family: 'Merriweather', serif;">
              We had lot of studies during all these years, but mostly
              theoretical leanings. Our first & foremost expectation from our
              first website would be to learn how all these are applied in a
              practical and in industrial way.  The <b>motivation</b> behind making this website is to provide important and releveant study material in most effective way. Now you don't need to rely upon someone in case of urgent need just visit here select your notes and download. <b>kukNotes is not-for-profit website</b> and not  generating any revenue. However if you'd like our work and wants to support our work you can <a href="#"> contribute here.</a>

              <div class="social-icons">
                <!-- <img src="asset/wapp.png" title="Connect on Whatsapp" /> -->
                <!-- <img src="asset/g.png" title="Shubham's Github Profile" />
                <img src="asset/link.png" title="Let's Connect on Linkedin" />
                <img src="asset/gml.png" title="Email me on Gmail" /> -->
                <!-- <img src="asset/so.png" title="SHubham's Stackoverflow" /> -->
              </div>
            </span>
            <!-- <h3 style="font-family: 'Playfair Display', serif;">
              About KukNotes
            </h3>
           ” -->
          </td>
        </tr>
      </table>
    </div>
    <!--footer-->
    <div style="background-color: black;">
      <%-include( 'footer.ejs');%>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
      integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
