<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%-include('allhead.ejs');%>
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />

    <link href="css/about.css" rel="stylesheet" />
  </head>
  <body>
    <%-include( 'header.ejs');%>
    <div>
      <table style="margin: 50px auto;">
        <tr style="height: 50%;">
          <td>
            <img
              src="asset/raman.jpg"
              width="200px"
              height="200px"
              style="border-radius: 50%;"
            />
          </td>
          <td style="text-align: justify; padding: 15px;">
            <h2 style="font-family: 'Playfair Display', serif;">
              RAMAN SHARMA
            </h2>
            <br />
            <span style="font-family: 'Merriweather', serif;">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
              incidunt eos, neque odio perferendis voluptatum rem quaerat omnis.
              Vero ex maiores sunt tempora voluptates esse incidunt ut explicabo
              molestias magni. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Quas ipsa, qui modi possimus accusamus porro
              dolor soluta natus debitis adipisci sequi necessitatibus vero?
              Adipisci enim, quas voluptatum earum amet odio!
            </span>
            <!-- <br /> -->
            <h4 style="font-family: 'Playfair Display', serif;">
              keep in touch
            </h4>
            <div class="social-icons">
              <a
                href="https://github.com/heyraman"
                style="text-decoration: none;"
              >
                <img src="asset/g.png" title="Raman's Github Profile" />
              </a>
              <a
                href="https://www.linkedin.com/in/raman-sharma-8a288519b/"
                style="text-decoration: none;"
              >
                <img src="asset/link.png" title="Let's Connect on Linkedin" />
              </a>
              <!-- <a href="https://wa.me/8053966497" style="text-decoration: none;">
                <img src="asset/wapp.png" title="Connect on Whatsapp" />
              </a>
              <a
                href="mailto:kukreti.rs@gmail.com"
                style="text-decoration: none;"
              >
                <img src="asset/gml.png" title="Email me on Gmail" />
              </a>
              <a
                href="https://stackoverflow.com/users/11822780/raman-sharma?tab=profile"
                style="text-decoration: none;"
              >
                <img src="asset/so.png" title="Raman's Stackoverflow" />
              </a> -->
              <!-- <a href="https://github.com/heyraman" target="_blank">
                <img src="asset/g.png" title="Raman's Github Profile" />
              </a>
              <a href="https://web.whatsapp.com/" target="_blank">
                <img src="asset/wapp.png" title="Connect on Whatsapp" />
              </a>
              <a href=" " target="_blank">
                <img src="asset/link.png" title="Let's Connect on Linkedin" />
              </a>
              <a href=" " target="_blank">
                <img src="asset/gml.png" title="Email me on Gmail" />
              </a>
              <a href=" " target="_blank">
                <img src="asset/so.png" title="Raman's Stackoverflow" />
              </a> -->

              <a href="https://dev.to/heyraman" target="_blank">
                <img
                  src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg"
                  alt="Raman⚡Sharma's DEV Profile"
                  height="30"
                  width="30"
                  title="Follow me on Dev community"
                />
              </a>
            </div>
            <br /><br />
            <!-- <img src="asset/twit.png" /> -->
            <!-- <img src="asset/insta.png" /> -->
            <!-- <img src="asset/insta.png" /> -->
          </td>
        </tr>
        <!-- <br /> -->
        <tr style="height: 50%;">
          <td>
            <img
              src="asset/x1.jpg"
              width="200px"
              height="200px"
              style="border-radius: 50%; object-fit: contain;"
            />
          </td>
          <td style="text-align: justify; padding: 15px;">
            <h2 style="font-family: 'Playfair Display', serif;">
              SHUBHAM VERMA
            </h2>
            <br />
            <span style="font-family: 'Merriweather', serif;">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
              incidunt eos, neque odio perferendis voluptatum rem quaerat omnis.
              Vero ex maiores sunt tempora voluptates esse incidunt ut explicabo
              molestias magni. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Quas ipsa, qui modi possimus accusamus porro
              dolor soluta natus debitis adipisci sequi necessitatibus vero?
              Adipisci enim, quas voluptatum earum amet odio!
            </span>
            <h4 style="font-family: 'Playfair Display', serif;">
              keep in touch
            </h4>
            <div class="social-icons">
              <!-- <img src="asset/wapp.png" title="Connect on Whatsapp" /> -->
              <img src="asset/g.png" title="Shubham's Github Profile" />
              <img src="asset/link.png" title="Let's Connect on Linkedin" />
              <img src="asset/gml.png" title="Email me on Gmail" />
              <!-- <img src="asset/so.png" title="SHubham's Stackoverflow" /> -->
            </div>
          </td>
        </tr>
      </table>
    </div>
    <!--footer-->
    <div style="background-color: black;">
      <%-include( 'footer.ejs');%>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
      integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
