<footer  style="margin-top:80px ">
  <div class="container">
      <div class="row ">
          <div class="col-md-4 text-center text-md-left ">
              
              <div class="py-0">
                  <h3 class="my-4 text-white">About<span class="mx-2 font-italic text-warning " style="font-weight: bold;">kukNotes</span></h3>
                  <p class="text-warning my-2" >We offer free course material and relevent information for kurukshetra university MCA Batches  </p>
              </div>
          </div>
          
          <div class="col-md-4 text-white text-center text-md-left ">
              <div class="py-2 my-4">
                    <div> 
                      <p><i class="fa fa-phone  mx-2 "></i> +91 805-396-6497</p>
                      <!-- <i class="fa fa-whatsapp mx-2" aria-hidden="true"></i> -->
                      <p><i class="fa fa-phone  mx-2 "></i> +91 966-403-7818</p>
                  </div>
                  <div>
                      <p><i class="fa fa-envelope  mx-2"></i><a style="color: #ffbe0b;" href="mailto:kukreti.rs@gmail.com">Contact Via email</a></p>
                  </div>  
              </div>  
          </div>
          
          <div class="col-md-4 text-white my-4 text-center text-md-left ">
            <p class="text-light mb-4">&copy;2020 Batch2019 Company</p>
            <div class="py-2"> 
                <a href="#" style="color: #ffbe0b;">Buy us a Coffee!!</a> <br><br>
              <a href="#" style="color: #ffbe0b;">Our Other Resources</a> 
            </div>
            <!-- <span class=" font-weight-bold ">About Batch2019 Inc.</span> -->
  <!-- <p class="text-warning my-2" >We offer free course material and relevent information for kurukshetra university MCA Batches  </p> -->
            <!-- <div class="py-2">
                <a href="#"><i class="fab fa-facebook fa-2x text-primary mx-3"></i></a>
                <a href="#"><i class="fab fa-google-plus fa-2x text-danger mx-3"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x text-info mx-3"></i></a>
                <a href="#"><i class="fab fa-youtube fa-2x text-danger mx-3"></i></a>
            </div> -->

          </div>
      </div>  
  </div>
</footer>
</div>