<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
	<%-include('allhead.ejs');%>
  <link rel='stylesheet' , href="css/semsester.css">
  
</head>
<body style="">
  <!--header-->
	<%-include( 'header.ejs');%>

<div class="linkhead1">
  <h3 class="linkhead2">Quick links</u></h3>
  <ul class="anc">
    <li><a href='/syllbus' class="abc">Syllbus</a></li>
    <li><a href="#" class="abc">Second Semester Notes</a></li>
    <li><a href="#" class="abc">Third Semester Notes</a></li>
    <li><a href="#" class="abc">Fourth Semester Notes</a></li>
  </ul>
</div>

 <div style="height: 80vh; margin-top: 0px; padding: 0;">

 </div>
  <!--footer-->
  <div style="background-color: black;">
    <%-include( 'footer.ejs');%> 
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  
</body>
</html>