<div class="header">
  <a href="/" class="logo">kukNotes.in</a>
  <div class="header-right">
    <a class="active" href="/">Home</a>
    <a href="#about">Notifications</a>
    <a href="#contact">Blog</a>
    <a href="/about">About</a>
    <!-- <a href="/about">Other</a> -->
  </div>
</div>
<div></div>
