<!DOCTYPE html>
<html>
  <head>
    <script
      data-ad-client="ca-pub-2782328875603355"
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    ></script>
    <%-include('allhead.ejs');%>
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="bg">
    <!--header-->
    <%-include( 'header.ejs');%>
    <!--body starts here-->
    <div class="bodypart1">
      <h1 class="bodypart2">
        About Kurukshetra University
      </h1>
      <p class="bodypart3">
        The
        <a href="https://www.kuk.ac.in/" style="color: #fff;"
          >Kurukshetra University</a
        >
        was established in 1956 as a unitary residential University and its
        foundation stone was laid by late Dr. Rajendra Prasad, the first
        President of India. Located in the holy city of Kurukshetra, land of the
        historical battle of 'Mahabharata' and the great message of Bhagwad
        Gita, its campus is situated on the western bank of Brahm Sarover (the
        holy tank) and extends over an area of over 400 acres. Starting with
        only the Department of Sanskrit, it has grown into a multi-faculty
        University as one of the premier centres for advanced study and research
        in the region
      </p>
      <h1 class="bodypart4">
        About DCSA
      </h1>
      <p class="bodypart5">
        <a
          href="https://www.kuk.ac.in/information.php?action=showContent4&L01_id=OA==&L01_direction=H&L02_id=Mzk=&L03_id=MTQz&L04_id=MjA4&sublevel=y&lType=deptProf"
          style="color: #fff;"
          >The Department of Computer Science and Applications</a
        >
        is located in kurushetra is a premier institute of higher learning in
        India. Today, Kurushetra University is offering world class education to
        the students throughout India & world. The main focus of the University
        has been to include the courses which are relevant and facilitate the
        learners in developing skills for easy job access.
      </p>
    </div>
    <div class="row" style="margin-top: 60px;">
      <div class="column">
        <div class="card">
          <div>
            <p class="semsesterheadings">
              First Semester
            </p>
          </div>
          <div class="card-body">
            <h5 class="card-title" style="color: #ffbe0b;">
              Subjects- <! ––shubham ––>
            </h5>
            <p class="card-text"><! ––shubham ––>
              <ol type="disk"><! ––shubham ––>
                <li>DBMS</li><! ––shubham ––>
                <li>Java</li><! ––shubham ––>
                <li>COMPUTER NETWORKS <! ––shubham ––>
                <li>THEORY OF COMPUTATION <! ––shubham ––>
                <li>UML</li><! --shubham-->
            </p>
            <a href="/firstsemester" class="btn btn-success stretched-link"
              >Explore Notes here</a
            >
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div>
            <p class="semsesterheadings">
              Second Semester
            </p>
          </div>
          <div class="card-body">
            <h5 class="card-title" style="color: #ffbe0b;">
              Subjects-
            </h5>
            <p class="card-text">
             <ol type="disk"><! ––shubham ––>
                <li>DESIGN AND ANALYSIS OF ALGORITHMS</li><! ––shubham ––>
                <li>COMPILER DESIGN</li><! ––shubham ––>
                <li>DATA WAREHOUSING AND MINING <! ––shubham ––>
                <li>COMPUTER GRAPHICS <! ––shubham ––>
                <li>LINUX AND SHELL PROGRAMMING</li><! --shubham-->
            </p>
            <a href="/secondsemester" class="btn btn-success stretched-link"
              >Explore Notes here</a
            >
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div>
            <p class="semsesterheadings">
              Third Semester
            </p>
          </div>
          <div class="card-body">
            <h5 class="card-title" style="color: #ffbe0b;">
              Card with stretched link
            </h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="/thirdsemester" class="btn btn-success stretched-link"
              >Explore Notes here</a
            >
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div>
            <p class="semsesterheadings">
              Fourth Semester
            </p>
          </div>
          <div class="card-body">
            <h5 class="card-title" style="color: #ffbe0b;">
              Card with stretched link
            </h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="/fourthsemester" class="btn btn-success stretched-link"
              >Explore Notes here</a
            >
          </div>
        </div>
      </div>
    </div>
    <!--body ends here-->
    <!--footer here-->
    <%-include( 'footer.ejs');%>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
      integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
