<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
	<%-include('allhead.ejs');%>
  <link rel='stylesheet' , href="css/semsester.css">
  
</head>
<body style="">
  <!--header-->
	<%-include( 'header.ejs');%>

<div class="linkhead1">
  <h3 class="linkhead2"><u>Quick links</u></h3>
  <ul class="anc">
    <li><a href='/syllbus' class="abc">Syllbus</a></li>
    <li><a href="#" class="abc">Second Semester Notes</a></li>
    <li><a href="#" class="abc">Third Semester Notes</a></li>
    <li><a href="#" class="abc">Fourth Semester Notes</a></li>
  </ul>
</div>

 <div style=" margin-top: 0px; padding: 0;">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptate deleniti officiis non quod aperiam aliquam neque, quasi, distinctio quas dicta provident animi nam, error enim praesentium dolorem illo numquam?
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus in id veritatis, labore numquam repudiandae voluptas similique, maxime praesentium, possimus voluptatem! Placeat possimus eos cum. Hic commodi nostrum autem dolorum!
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, fugit illum qui rem quasi odit exercitationem sequi assumenda possimus atque, alias officia ad id obcaecati totam magnam necessitatibus recusandae labore?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae autem repellendus odit, illo dignissimos non. Ratione vero maiores reprehenderit praesentium illum aliquam doloribus quis, explicabo quae dignissimos, debitis nisi quibusdam.
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus autem omnis expedita earum cumque repellat eligendi at iste, odit reprehenderit perspiciatis excepturi, mollitia nulla rerum distinctio. Quaerat est architecto tempora!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui obcaecati aspernatur fuga in eos dicta doloremque, ipsa dolor illo, eum nisi magnam nemo quae quos nihil deserunt quibusdam animi quo?
 </div>

  <!--footer-->
  <div style="background-color: black;">
    <%-include( 'footer.ejs');%>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  
</body>
</html>