* {box-sizing: border-box;}

body { 
  margin: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;

}

.bg{
  background-attachment: fixed;
  background-image: url('../asset/1.jpg');
  background-size: cover;
  height: 100%;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  
}

.header {
   overflow: hidden;
  /* background-color:#14213d; */
  background-color: #fca311;
  padding: 20px 10px;
  
}

p{
  color:#aed9e0;
}

.header a {
  float: left;
  color:#f1faee;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  font-weight: bold;
}

.header a.logo {
  font-size: 25px;
  color:#f1faee;
  font-family:'Graduate', cursive ;
  font-weight: bold;
  
}
.header a.logo:hover {
 color: black;
}

.header a:hover {
  background-color:#ffc107;
  color: black;
}

/* .header a.active {
  background-color: lightslategray;
  color: white;
} */

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }

  .bg{
    background-image: url('../asset/1.jpg');
    max-width: 100%;
    height: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
  }
}
/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  padding: 16px;
  text-align: center;
  background-color: transparent;
  /* background-color: #457b98; */
  color:#FFF;
  border: none;
}
