* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.anc {
  text-decoration: none;
  color: blue;
  /* font-family: 'Merienda One', cursive; */
}
/* .linkhead1 {
  margin: 0px auto;
  
  box-shadow: 2px 0px 10px #dfdfdf;
  -webkit-box-shadow: 2px 0px 10px #dfdfdf;
  -moz-box-shadow: 2px 0px 10px #dfdfdf;
  -o-box-shadow: 2px 0px 10px #dfdfdf;
  -ms-box-shadow: 2px 0px 10px #dfdfdf;
} */
/* background-color: #f5f5f5; */
/* border: solid 1px #fca311; */
/* background: url(../asset/pattern.png) repeat; */

.linkhead2 {
  /* font-family: "Graduate", cursive;
   */
  font-family: "Merriweather", serif;

  font-weight: bold;
  color: black;
}

ul {
  margin: 0.55em 0.85em;
  padding: 0 1em;
  list-style: none;
}
li:before {
  content: "";
  border-color: transparent #fca311;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

.abc:hover {
  text-decoration: underline;
  color: #2997ff;
}

.fas {
  margin: 3px;
  font-size: 15px;
}

.semsubs {
  color: #fca311;
  font-weight: bold;
}

.isfourthdisable {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}
